@import "variables.css";

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    width: 100%;
}

a {
    color: var(--black-color);
    text-decoration: none;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    background: linear-gradient(120deg, var(--linear-gradient-left) 52%, var(--linear-gradient-right) 50%);
}

.profile-info h2,
.contact-info,
p {
    font-weight: normal;
    font-size: 1.3rem;
}

main {  
    width: min(95%, 100% - 1rem);
    max-width: min(1800px, 100% - 1rem);
    margin-inline: auto;
}

.about-me {
    display: grid;
    grid-template-areas:
    "a" 
    "b" 
    "c" 
    "d" 
    "e";  
    justify-items: center;
    padding: 0px 5% 10px 5%;
} 

.profile-img {
    clip-path: circle();  
    min-width: 295px;
    max-width: 450px;
    grid-area: a;
}

.profile-info {
    grid-area: b;
    max-width: 670px;
}

.profile-info h1 {
    text-align: center;
    font-size: 1.6rem;
}

.my-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: c;  
}

.my-skills a {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 0px 20px;
    min-width: 100px;
}

.skill-icons {
    font-size: 3rem;
}

.contact {
    grid-area: d;  
}

.contact-info {
    grid-area: e;  
}

.contact-info a {  
    margin: 20px 0px 0px 0px;
}

.fa-linkedin {
    color: var(--linkedin);
}

.email {
    display: flex;
    align-items: center;
}

.about-me,
.projects-cards {
    box-shadow: 2px 2px 5px var(--black-color);
    background-color: var(--white-color);
    border-radius: 10px;
    margin: 30px 0px;
}

.projects {
    font-size: 2.2rem;
    text-decoration: underline;
}

.projects-cards {
    padding: 0px 10px 10px 10px;
}

.projects,
.projects-cards h2,
.contact {
    text-align: center;
    margin: 0px;
    padding: 10px;
}

.projects-cards h2 {
    font-size: 1.6rem;
}

.projects-cards p {
    height: 190px;
    margin: 3% 5%;
    text-overflow: ellipsis;
    overflow: auto;
}
.project-source a {
    padding: 10px 0px;
}

.project-source,
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;  
}

.project-source a:hover,
.contact-info a:hover {
    text-decoration: underline;
}
