*, *:before, *:after {
    box-sizing: inherit;
}

img {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    background: linear-gradient(120deg, #c8b2ef 52%, #a7e3fa 50%);
}

h3 {
    font-weight: normal;
}

main {  
    width: min(95%, 100% - 1rem);
    max-width: min(1800px, 100% - 1rem);
    margin-inline: auto;
}

.about-me {
    display: grid;
    grid-template-areas:
    "a" "b" "c" "d";  
    justify-items: center;
    padding: 0px 5% 10px 5%;
} 

.profile-img {
    clip-path: circle();  
    min-width: 295px;
    max-width: 55%;
    grid-area: a;
}

.profile-info {
    grid-area: b;
    max-width: 670px;
}

.profile-info h1 {
    text-align: center;
}

.my-skills {
    grid-area: c;
    font-size: 3rem;
}

.contact-info {
    display: grid;
    font-size: 1.18rem;
    grid-area: d;
}

.contact-info a {  
    margin: 20px 0px 0px 0px;
}

.fa-linkedin {
    color: #2653aa;
}

.email {
    display: flex;
    align-items: center;
}

.about-me,
.projects-cards {
    box-shadow: 2px 2px 5px black;
    background-color: white;
    border-radius: 10px;
    margin: 30px 0px;
}

.projects {
    font-size: 2.2rem;
    text-decoration: underline;
}

.projects-cards {
    padding: 0px 10px 10px 10px;
}

.projects,
.projects-cards h2 {
    text-align: center;
}

.projects-cards h3 {
    margin: 10px;
}

.project-source {
    display: flex;
    justify-content: space-evenly;
}

.netlify {
    color: #008380;
}

.project-source a:hover,
.contact-info a:hover {
    text-decoration: underline;
}
